h2{
    font-family:Dosis;
}
.hidden{
    display:none;
}

#containerLogo{
    display:flex;
    justify-content:center;
}

#background{
    background-image: url("../img/foretPokemon.png");
    background-repeat: no-repeat;
    background-size: cover;    
}

/* pour les ID c est # et un point pour les classes*/
#logoMain{
    margin:1% 0;
   /* width:15%; avec ceci peut importe la taille de l'écran la taille de l'image ne change pas */
}

/* Pour la barre de navigation --------------------------------------------------------------------------------*/
#barrePokemon {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.barreJustifiee {
    display: flex;
    justify-content: center;
}

#barrePokemon li {
    float: left;
    display: inline;
}

#PSsaison {
     display: block;
     padding: 25px;
     width: 240px;
     background-image: url(./img/casquetteSacha.png);
     background-repeat: no-repeat;
     background-color: #C2B9AC;
     background-size: 3em; 
     background-position: left center;
     transition: 440ms;
}
 
#PSsaison:hover {
    display:block;
    transition: 440ms;
    background-color: #938c82;   
}

#PType {
    display: block;
    padding: 25px;
    width: 240px;
    background-image: url(./img/pokeball.png);
    background-repeat: no-repeat;
    background-color:#33abd6;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#PType:hover {
    display:block;
    transition: 440ms;
    background-color: rgb(40, 129, 162); 
}

#PTaux {
    display: block;
    padding: 25px;
    width: 240px;
    background-image: url(./img/silhouette.png);
    background-repeat: no-repeat;
    background-color:#d44828;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#PTaux:hover {
    display:block;
    transition: 440ms;
    background-color: #ad3a20; 
}

#eVSe {
    display: block;
    padding: 25px;
    width: 240px;
    background-image: url(./img/attDef.png);
    background-repeat: no-repeat;
    background-color:#d4c828;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#eVSe:hover {
    display:block;
    transition: 440ms;
    background-color: #9d941c; 
}

#ExComb {
    display: block;
    padding: 25px;
    width: 240px;
    background-image: url(./img/combatV2.png);
    background-repeat: no-repeat;
    background-color:#22b544;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#ExComb:hover {
    display:block;
    transition: 440ms;
    background-color: #1a8734; 
}

.largTexte {
    padding: 20px 0 20px 15%;
    text-decoration: none;
    color:black;
    font-family: pokemon;
    font-size: 16px;
    letter-spacing: 2px;
}

/*Bande noire--------------------------------------------------------------------------------------------------*/
body {
    margin: 0;
}

.titrePage {
    display:flex;
    font-family: Pokemon;
    letter-spacing: 6px;
    background-color : black;
    color: white;
    padding: 20px;
    justify-content: center;
    margin-top:0;
}

/*Page pokemon par saison--------------------------------------------------------------------------------------*/
.resume-wrapper {
    display:flex;
    align-items: space-between;
    justify-content: space-evenly;
}

.listeSaison {
    display: flex;
    align-items: center;
    padding : 2px 2px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 20px;
}

li {
    list-style-type: none;
    /* enlève les points listés*/
}

.saisons {
    padding:5px 0 5px 35px;
    font-family: pokemon;
    letter-spacing: 2px;
    width: 180px;
}

#S1 {
    display: flex;
    padding: 10px;
    background-image: url(./img/pokeball1.png);
    background-repeat: no-repeat;
    background-color:#B7C308;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#S1:hover {
    display:flex;
    transition: 440ms;
    background-color: #a1ac07; 
}

#S2 {
    display: flex;
    padding: 10px;
    background-image: url(./img/pokeball2.png);
    background-repeat: no-repeat;
    background-color:#D1AF53;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#S2:hover {
    display:flex;
    transition: 440ms;
    background-color: #b39647; 
}

#S3 {
    display: flex;
    padding: 10px;
    background-image: url(./img/pokeball3.png);
    background-repeat: no-repeat;
    background-color:#84CFED;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#S3:hover {
    display:flex;
    transition: 440ms;
    background-color: #78bbd5; 
}

#S4     {
    display: flex;
padding: 10px;
background-image: url(./img/pokeball4.png);
background-repeat: no-repeat;
background-color: #99A7D5;
background-size: 3em;
background-position: left center;
transition: 440ms;
justify-content: center;
}

#S4:hover {
    display:flex;
    transition: 440ms;
    background-color: #8994bd; 
}
/* Mise en page des ronds---*/
/* .circle-resume {
    background-size: 1200px;
}
.pokeCircle {
    
} */
/* .pokeText {
    font-size: 14px;
} */

/*Type de pokemon-----------------------------------------------------------------------------------------------*/  
.nb-par-type-svg {
height: 650px;
}

/* Pokétype----------------------------------------------------------------------------------------------------*/
.PoketypePolice {
    font-family: Dosis;
    letter-spacing: 1px;
    font-size: 1.5em;
    font-weight: bold;
    padding: 0 0 0 10px;
}

/* .np-par-type-drawn {
    visibility: hidden;
} */

/*Page élément contre élément----------------------------------------------------------------------------------*/
.police {
    font-family: pokemon;
    letter-spacing: 3px;
    padding: 0 20px;
}

/*permet de centrer les éléments à la page*/
.schema-elements-wrapper {
    display:flex;
    flex-direction: row-reverse;
    justify-content:center;
    align-items: start; 
    font-family: Dosis; 
}

/*traite le svg*/
.schema-element-svg{
    display:block;
    align-items: start;
    margin: 0 10px 0 30px;
    width: 40%;
    height: 40%;
} 

/*traite l'image dans le svg*/
.dynamic-schema{
width: 100%;
height: 100%;
align-items:start;
}

.bouton{
    margin-top:50px;
    }

/*menu déroulant*/
#type {
    display: flex;
    padding: 15px 10px 15px 70px;
    background-image: url(./img/pikachu.png);
    background-repeat: no-repeat;
    background-color:#eae695;
    background-size: 2.7em; 
    background-position: left center;
    font-family: Pokemon;
    letter-spacing: 2px;
    font-size: 22px;
}

/*Page de combat-----------------------------------------------------------------------------------------------*/
.combat-wrapper{    
    display:flex;
    justify-content:center;
    margin: auto;
    width: 90px;
}

.construction{
    width: 10%;
}

/* fonts-------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: "Pokemon"; 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") 
    format("svg"); 
}

@font-face {
    font-family: "Dosis", sans-serif;
    src: url("https://fonts.googleapis.com");
    src: url("https://fonts.gstatic.com");
    src: url("https://fonts.googleapis.com/css?family=Dosis");
}

    
