.hidden{
    display:none;
}

#containerLogo{
    display:flex;
    justify-content:center;
    
}
/* pour les ID c est # et un point pour les classes*/
#logoMain{
    margin:1% 0;
   /* width:15%; avec ceci peut importe la taille de l'écran la taille de l'image ne change pas */
}

/* Pour la barre de navigation --------------------------------------------------------------------------------*/
#barrePokemon {
    list-style-type: none;
    margin: 0;
    padding: 0;
    overflow: hidden;
}

.barreJustifiee {
    display: flex;
    justify-content: center;
}

#barrePokemon li {
    float: left;
    display: inline;
}

#PSsaison {
     display: block;
     padding: 25px;
     width: 230px;
     background-image: url(./img/casquetteSacha.png);
     background-repeat: no-repeat;
     background-color: #C2B9AC;
     background-size: 3em; 
     background-position: left center;
     transition: 440ms;
}
 
#PSsaison:hover {
    display:block;
    transition: 440ms;
    background-color: #938c82;   
}

#PType {
    display: block;
    padding: 25px;
    width: 200px;
    background-image: url(./img/pokeball.png);
    background-repeat: no-repeat;
    background-color:#33abd6;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#PType:hover {
    display:block;
    transition: 440ms;
    background-color: rgb(40, 129, 162); 
}

#PTaux {
    display: block;
    padding: 25px;
    width: 210px;
    background-image: url(./img/silhouette.png);
    background-repeat: no-repeat;
    background-color:#d44828;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#PTaux:hover {
    display:block;
    transition: 440ms;
    background-color: #ad3a20; 
}

#eVSe {
    display: block;
    padding: 25px;
    width: 240px;
    background-image: url(./img/attDef.png);
    background-repeat: no-repeat;
    background-color:#d4c828;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#eVSe:hover {
    display:block;
    transition: 440ms;
    background-color: #9d941c; 
}

#ExComb {
    display: block;
    padding: 25px;
    width: 220px;
    background-image: url(./img/combatV2.png);
    background-repeat: no-repeat;
    background-color:#22b544;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#ExComb:hover {
    display:block;
    transition: 440ms;
    background-color: #1a8734; 
}

.largTexte {
    padding: 20px 0 20px 15%;
    text-decoration: none;
    color:black;
    font-family: pokemon;
    letter-spacing: 2px;
}

/*Bande noire--------------------------------------------------------------------------------------------------*/
body {
    margin: 0;
}

.titrePage {
    display:flex;
    font-family: Pokemon;
    letter-spacing: 6px;
    background-color : black;
    color: white;
    padding: 20px;
    justify-content: center;
    margin-top:0;
}

/*Page pokemon par saison--------------------------------------------------------------------------------------*/
.resume-wrapper {
    display:flex;
    align-items: space-between;
    justify-content: space-evenly;
}
.resume-svg {
    
}

.listeSaison {
    display: flex;
    align-items: center;
    padding : 2px 2px;
    flex-direction: column;
    flex-wrap: wrap;
    gap: 10px 20px;
}

li {
    list-style-type: none;
    /* enlève les points listés*/
}

.saisons {
    padding:5px 0 5px 35px;
    font-family: pokemon;
    letter-spacing: 2px;
    width: 90px;
}

#S1 {
    display: flex;
    padding: 10px;
    background-image: url(./img/pokeball1.png);
    background-repeat: no-repeat;
    background-color:#B7C308;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#S1:hover {
    display:flex;
    transition: 440ms;
    background-color: #a1ac07; 
}

#S2 {
    display: flex;
    padding: 10px;
    background-image: url(./img/pokeball2.png);
    background-repeat: no-repeat;
    background-color:#D1AF53;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#S2:hover {
    display:flex;
    transition: 440ms;
    background-color: #b39647; 
}

#S3 {
    display: flex;
    padding: 10px;
    background-image: url(./img/pokeball3.png);
    background-repeat: no-repeat;
    background-color:#84CFED;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#S3:hover {
    display:flex;
    transition: 440ms;
    background-color: #78bbd5; 
}

#S4 {
    display: flex;
    padding: 10px;
    background-image: url(./img/pokeball4.png);
    background-repeat: no-repeat;
    background-color:#99A7D5;
    background-size: 3em; 
    background-position: left center;
    transition: 440ms;
}

#S4:hover {
    display:flex;
    transition: 440ms;
    background-color: #8994bd; 
}

/* 
.forces-faiblesses-wrapper{
    display:flex;
    flex-direction:row;
}*/

/* fonts-------------------------------------------------------------------------------------------------------*/

@font-face {
    font-family: "Pokemon"; 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot"); 
    src: url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.eot?#iefix") 
    format("embedded-opentype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff2") 
    format("woff2"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.woff") 
    format("woff"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.ttf") 
    format("truetype"), url("//db.onlinewebfonts.com/t/f4d1593471d222ddebd973210265762a.svg#Pokemon") 
    format("svg"); 
}

@font-face {
    font-family: "Dosis", sans-serif;
    src: rul("https://fonts.googleapis.com");
    src: rul("https://fonts.gstatic.com");
    src: rul("https://fonts.googleapis.com/css?family=Dosis");
}

    
